﻿@using WebApplication1.Models

@{
    ViewBag.Title = "Books";
}

@{ 
    var books = (IEnumerable<BookDto>)ViewBag.Books;
    var message = ViewBag.Message;
}

@section scripts {
   <script src="~/Scripts/Test/books.js"></script>
}

<h2>Test</h2>
<div>
    @foreach (var book in books)
    {
        <div>@book.Id - @book.Title</div>
    }
</div>

<br />

<div id="books">

</div>
